<div class="container-fluid">
    <h2>{{movieDetails.title}}</h2>
    <div class="row">
        <div class="d-flex">
            <div class="p-2">
                <div> 
                    <img  
                    class="img-thumbnail rounded"
                    [src]="movieDetails.imagePath"> 
                    <button class="btn btn-success btn-block">Homepage</button>  
                </div> 

            </div>
                <div class="p-2 col-xs-4" style="border: 1px solid salmon;">
                    <div class="d-flex flex-column align-items-stretch">
                        <div class="p-2 d-flex flex-row">
                            <mat-chip-list
                            *ngFor="let genre of movieDetails.genres;">
                                <mat-chip>{{genre['name']}}</mat-chip>
                              </mat-chip-list>
                        </div>
                        <div class="p-2">
                            <div class="p-2">
                                {{movieDetails.overview}}
                            </div>
                        </div>
                        <div class="p-2">
                            <div class="row col-xs-12">
                                <div 
                                class="p-2 col-xs-4 align-self-center">
                                    <strong>Produced By&nbsp;&nbsp;</strong>
                                </div>
                                <div 
                                class="p-1 col-xs-8 align-self-center" 
                                *ngFor="let prod of movieDetails.production; let i=index;">
                                    <div class="d-flex flex-row">
                                        <div class="pl-1 pr-2">{{prod['name']}}</div>
                                        <div class="" *ngIf="i!==movieDetails.production.length-1">&#8226;</div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="p-2">
                            <div class="row col-xs-12">
                                <div 
                                class="p-2 col-xs-4 align-self-center">
                                    <strong>Stars&nbsp;&nbsp;</strong>
                                </div>
                                <div 
                                class="p-1 col-xs-8 align-self-center" 
                                *ngFor="let star of stars; let i=index;">
                                    <div class="d-flex flex-row">
                                        <div class="pr-2">{{star.name}}</div>
                                        <div class="" *ngIf="i!==stars.length-1">&#8226;</div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="p-2">
                            <div class="row col-xs-12">
                                <div 
                                class="p-2 col-xs-4 align-self-center">
                                    <strong>Directed By&nbsp;&nbsp;</strong>
                                </div>
                                <div 
                                class="p-2 col-xs-8 align-self-center">
                                    <div class="d-flex flex-row">
                                        <div class="p-2">{{director}}</div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="p-2 col-xs-4">
                    <div class="d-flex">
                        <div class="p-2">
                            <mat-icon style="color: #F9C802; transform: scale(1.75);">star</mat-icon>
                        </div>
                        <div class="p-2">
                            {{movieDetails.popularity}}&#47;10
                        </div>
                    </div>
                </div>
        </div>  
    </div>
    <div class="row">
        <div class="col-xs-12 d-flex flex-column">
            <div class="p-2">
                <h3>Main Cast</h3>
            </div>
            <div style="border: 1px solid red;"
            class="row">
                <div class="col-sm-3"
                *ngFor="let castMem of cast_members;">
                        <div >
                            <div class="d-flex flex-row align-items-center">

                                <div class="p-2">
                                    <img [src]="castMem.image" alt="Avatar" class="avatar">
                                </div>
                                <div class="p-1 d-flex flex-column align-items-center">
                                    <h5 >{{castMem.name}}</h5>
                                    <p>{{castMem.movieName}}</p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
            </div>
                
        </div>
        
    </div>

    <div class="row">
        <div class="col-xs-12 d-flex flex-column">
            <div class="p-2">
                <h3>Recommendations</h3>
            </div>
            <div class="row">
                <div class="col-xs-2"
                *ngFor="let movieRecommend of recommendations;">
                <div class="p-2">
                    <app-movies-item [movie]="movieRecommend"></app-movies-item>
                </div>
                        
                    </div>
            </div>
                
        </div>
        
    </div>
    <div class="row">
        <div class="d-flex flex-column">
            <div class="p-2">
                <h3>Viewers Reviews</h3>
            </div>
            <div class="p-2">
                <div class="d-flex flex-column" *ngFor="let review of reviews;">
                    <div class="p-2">
                        <div class="card w-75">
                            <div class="pt-4 pl-3 d-flex flex-row">
                                <h5 class="pr-2">{{review.author}}</h5>
                                <p class="pr-2"><strong>&#8226;</strong></p>
                                <p class="pr-2">{{review.dateIssued}}</p>

                            </div>
                            <div class="card-body">
                                {{review.content}}
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
