<div class="container-fluid">
    <div class="row"> <!-- ------------@@@@@@@@@@@@@----------------- -->
        <!-- ----------------POSTER-------------------------------- -->
            <div class="col-sm-4 d-flex align-items-center" style="border: 2px solid blue;"> 
                <div> 
                <img  
                class="" 
                width="90%"
                alt="Ad Astra movie poster" 
                
                src="https://lumiere-a.akamaihd.net/v1/images/p_adastra_20097_040ab0d1.jpeg">   
            </div> 
            </div> 
        <!-- ----------------------------------------------------- -->
    <!-- ----------------------------***************----------------------------------------- -->
            <div class="col-sm-8 d-flex flex-column" style="border: 2px solid violet;">
                <div class="p-2">
                    <div class="row">
                        <div class="col-sm-8">
                            <h1>Ad Astra</h1>
                        </div>
                        <div class="col-sm-4 d-flex flex-row align-items-center">
                            <div class="p-2">
                                <mat-icon style="color: blue; transform: scale(1.5);">thumb_up_alt</mat-icon>
                            </div>
                            <div>
                            
                                22418
                            
                            </div>
                            <div class="p-2">
                                <mat-icon style="color: #F9C802; transform: scale(1.75);">star</mat-icon>
                            </div>
                            <div>
                                8.4&#47;10
                            </div>

                        </div>

                    </div>
                    <!-- -------------------Title-------------------------------  -->
                   
                </div>
                 <div class="p-2">   
                        <!-- ---------------------------------------------  -->
                        <div class="d-flex flex-row">
                            <div class="p-2">EN<span>&nbsp;&nbsp;&nbsp;&#8226;</span></div>
                            <div class="p-2">September 20, 2019<span>&nbsp;&nbsp;&nbsp;&#8226;</span></div>
                            <div class="p-2">Drama, Suspense, Thriller</div>
                          </div>   
                            
                             
                    </div> 
                    <!-- ---------------------------Description---------------------------------- -->                            
                    <div class="p-2">
                        <p> 
                            Brad Pitt gives a powerful performance in this, “absolutely enthralling” (Rolling Stone), 
                            sci-fi thriller set in space. When a mysterious life-threatening event strikes Earth, astronaut Roy 
                            McBride (Pitt) goes on a dangerous mission across an unforgiving solar system to uncover the truth 
                            about his missing father (Tommy Lee Jones) and his doomed expedition that now, 30 years later, 
                            threatens the universe.  
                        </p>
                        


                    </div>
                    <!-- --------------------------------------------------------------------- -->
                    
                    <!-- ----------------------------Credits------------------------------------- -->
        <div class ="align-items-start" style="border: 1px solid pink;">
            <ul style="list-style-type: none;">   
                <li> 
                    <h4> Directed By </h4> 
                    <div> James Gray <br><br> </div> 
                </li>    
                <li> 
                    <h4> Written By </h4> 
                    <div> James Gray, James Gray &amp; Ethan Gross, Ethan Gross<br><br> </div>
                 </li>   
                  <li> 
                      <h4> Produced By </h4> 
                      <div> 
                          Brad Pitt, Dede Gardner, Jeremy Kleiner, Dede Gardner, p.g.a., James Gray, Jeremy Kleiner
                          , p.g.a., Anthony Katagas, James Gray, p.g.a., Rodrigo Teixeira, Anthony Katagas, p.g.a.,
                           Arnon Milchan, Rodrigo Teixeira, p.g.a. 
                           <br><br>
                        </div> 
                    </li>    
                    <li> 
                        <h4> Cast </h4> 
                        <div> Brad Pitt, Tommy Lee Jones, Ruth Negga, Liv Tyler, Donald 
                            Sutherland 
                            <br> <br>
                        </div> 
                    </li>  
                 </ul> 
                </div>
                   <!------------------------------------------------------------------------------------  -->
            
                               
                    </div> 
<!-- ----------------------------***************----------------------------------------- -->
        </div> <!----------------------@@@@@@---------------------->
</div>
