<div class="d-flex justify-content-center flex-wrap">
    <div class="p-2" style="width: 30%;">
        <app-movies-item></app-movies-item>
    </div>
    <div class="p-2" style="width: 30%;">
        <app-movies-item></app-movies-item>
    </div>
    <div class="p-2" style="width: 30%;">
        <app-movies-item></app-movies-item>
    </div>
    <div class="p-2" style="width: 30%;">
        <app-movies-item></app-movies-item>
    </div>
    <div class="p-2" style="width: 30%;">
        <app-movies-item></app-movies-item>
    </div>
    <div class="p-2" style="width: 30%;">
        <app-movies-item></app-movies-item>
    </div>
    <div class="p-2" style="width: 30%;">
        <app-movies-item></app-movies-item>
    </div>
    
    
  </div>